.container-custom{
 margin-left:50px;
 margin-right:50px;
}

.button-holder{
  margin-top:20px;
}

.col-result{
  margin-left:5%;
}


.section{
  /* border:1px solid red; */
  margin:30px 0px;
}

.subsection{
  /* border:1px dotted green; */
  margin:15px 0px;
}


.object{
  display:inline-block;
  padding:0;
  margin:6px 0px;
  margin-right:10px;
}

.chord{
  text-align: center;
  margin:0;
  padding:0;
}

.lyric{
  margin:0;
  padding:0;
}

.section p.lead{
  font-weight: bold;
  margin:0;
}

.selected{
  border:1px solid red;
}